.card:hover{
  cursor: pointer;
}
.card-footer{
  text-align: center;
    font-size: 120%;
    font-weight: 600;
}
:host ::ng-deep  .mat-icon
{
  position: relative;
    top: 5px;
    color: #0d6efd;
}
.s-usertext
{
  position: relative;
    left: 4px;
    top: -3px;
}
.s-ratings
{
  padding: 4px 14px;
    border-radius: 95%;
    background: #ffe842;
    color: white;


}
.d-header
{
  background: #475563;
  color: white;
  box-shadow:0px 0px 10px 2px #757575;
  font-family:   "Times New Roman", Times, serif;;
}
